body {
  background-color: #f2f2f2; /* abu abu lembut */
}

/* Background Section Home */
#home {
  background: 
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('download.jpg'); /* ganti sesuai nama file kamu */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


/* Styling teks biar mirip desain Canva */
#home .content-container {
  z-index: 2;
}

#home h4 {
  font-size: 30px;
  font-weight: 700;
}

#home .main-title {
  font-size: 70px;
  font-weight: 900;
  letter-spacing: 2px;
}

#home .sub-title {
  font-size: 40px;
  font-weight: 800;
  margin-top: 10px;
}


/* Biar teks tetap terbaca */
#home::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* Navbar transparan + lebih lebar */
.custom-navbar {
  background: rgba(11, 111, 58, 0.5) !important; /* full transparan */
  padding: 20px 0; /* bikin lebih tinggi / lebar */
  backdrop-filter: blur(0px); /* optional: bisa bikin blur*/
  box-shadow: none; /* hilangin bayangan */
  border-bottom: 4px solid rgba(255, 255, 255, 0.4);
  margin-left: 70px;
  margin-right: 70px;
  border-radius: 10px;
}

/* Biar link warna tetap putih */
.custom-navbar .nav-link,
.custom-navbar .navbar-brand {
  color: white !important;
  font-weight: 600;
}

/* Hover biar elegan */
.custom-navbar .nav-link:hover {
  color: #dcdcdc !important;
}

/* Justify text in about section */
.about-text {
  text-align: justify;
}


